:root{
    /* Color palette */
    /* bit.ly/2wCpihr */
    --primary: #842907;
    --primary-light: #BA5631;
    --primary-dark: #530000;
    --primary-text: #FFFFFF;
    --secondary: #37474F;
    --secondary-light: #62727B;
    --secondary-dark: #102027;
    --secondary-text: #FFFFFF;
    --primary-font: 'Montserrat', sans-serif;
    /* The secondary font maybe not suitable for us because of the Latin char support */
    --secondary-font: 'Andika', sans-serif;
}

html, body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: var(--primary-font);
    background-color: var(--primary);
    color: var(--primary-text);
}

a{
    cursor: pointer;
}

input{
    font-size: 16px;
    font-family: var(--primary-font);
}

#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary-dark);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#nav li{
    float: left;
}

#nav li.admin{
    float: right;
}

#nav li a{
    display: block;
    color: var(--primary-text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover{
    background-color: var(--secondary-dark);
}

#nav li.active_menu{
    background-color: var(--secondary);
}

#section{
    margin: 5%;
}

